{% extends 'html/base.html' %}
{% load staticfiles %}

{% block title %}Storage{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

    {# Hero Section #}
        <div class="container ">
            <div class="row">
                <h1>{{ storage.name }}</h1>
            </div>
        </div>

    {# Main Section #}
    <div class="container">
        <h2>Ingredients:</h2>
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                <td>{{ ingredient.ing_ID.name }} </td>
                <td>{{ ingredient.amount }}</td>
                    <td><b> {{ ingredient.unit }} </b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-1"><a href="{% url 'storage_edit' storage.id %}" class="btn btn-info"><span
                    class="glyphicon glyphicon-edit"></span> Edit</a></div>
            <div class="col-lg-1"><a href="{% url 'storage_hide' storage.id %}" class="btn btn-info"><span
                    class="glyphicon glyphicon-trash" onclick="return confirm('Are you sure you want to remove this storage?')"></span> Delete</a></div>
            <div class="col-lg-10"></div>
        </div>
    </div>

{% endblock %}

