{% extends 'html/base.html' %}

{% load staticfiles %}
{% block content %}

    <h1>New Storage</h1>

    <form method="POST" class="post-form">{% csrf_token %}

        <div class="panel panel-default formsetContainer">
            <div class="panel-heading"> General:</div>
            <div class="panel-body">
                <table>
                    {{ form.as_table }}
                </table>
            </div>
        </div>

        <div class="panel panel-default formsetContainer">
            <div class="panel-heading"> Ingredients:</div>
            <div class="panel-body">
                {% for form in ingredientFormset %}
                    <div class="ingredient-formset formsetSubelement formset">
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="save btn btn-default">Save</button>

    </form>

{% endblock %}