{% extends 'html/base.html' %}
{% load staticfiles %}

{% block title %}Recipes{% endblock title %}
{% block nav-style %}{% endblock nav-style %}

{% block content %}

    <div class="row content">

        <div class="col-sm-2 sidenav">
            <div class="mini-submenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>

            <div class="list-group">
                <span href="#" class="list-group-item active">
                Filters
                </span>
                {% if selected_filters %}
                    {% for filter in selected_filters %}
                        <a href="{% url 'recipes_list' %}{{ filter_string }}&removefilter={{ filter.id }}"
                           class="list-group-item recipefilter selected-filter" id="{{ filter.id }}">
                            {{ filter.name }}
                        </a>
                    {% endfor %}
                {% endif %}

                {% if filters %}
                    {% for filter in filters %}
                        <a
                        {% if filter_string != '' %}
                           href="{% url 'recipes_list' %}{{ filter_string }}&filter={{ filter.category_ID }}"
                        {% else %}
                           href="{% url 'recipes_list' %}?filter={{ filter.category_ID }}"
                        {% endif %}
                       class=" list-group-item recipefilter" id="{{ filter.category_ID }}">
                        {{ filter.category_ID__name }} <span class="badge">{{ filter.count }}</span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>

        </div>

        <div class="col-sm-10 text-left">
            <h2>Recipes:</h2>
            <hr>
            {% if latest_recipes_list %}
                <ul>
                    {% for recipe in latest_recipes_list %}
                        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }} (Published: {{ recipe.published_date }} {% if user.is_superuser %} <span class="adminstuff ">| Visible: {{ recipe.visible }}</span> {% endif %})</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No recipes are available.</p>
            {% endif %}
            <hr>
            <a href="{% url 'recipe_new' %}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add
                recipe</a>

            {% if message %}
                <hr>
                <div class="alert alert-warning" role="alert">{{ message }} <a href="/login"
                                                                               class="btn btn-warning"
                                                                               role="button">Login now</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}