{% extends 'html/base.html' %}

{% load staticfiles %}

{% block title %}Recipes{% endblock title %}
{% block nav-style %}{% endblock nav-style %}

{% block content %}



    {% if success %}
        <div class="col-sm-10 text-center">
            <div class="alert alert-success" role="alert">{{ success }}</div>
            <a href="{% url 'recipe_new' %}" class="btn btn-info" role="button">Add another recipe</a>
            <a href="{% url 'recipes_list' %}" class="btn btn-info" role="button">Go to recipe overview</a>
            <a href="{% url 'recipe_detail' recipe_id=id %}" class="btn btn-info" role="button">Show me my new recipe</a>

        </div>

    {% else %}

        {% if edit %}
            <h1>Edit Recipe</h1>
        {% else %}
            <h1>New Recipe</h1>
        {% endif %}

        <form method="POST" class="post-form">{% csrf_token %}

            <div class="panel panel-default formsetContainer">
                <div class="panel-heading"> General:</div>
                <div class="panel-body">
                    <table>
                        {{ form.as_table }}
                    </table>
                </div>
            </div>

            <div class="panel panel-default formsetContainer">
                <div class="panel-heading"> Ingredients:</div>
                <div class="panel-body">
                    {% for form in ingredientFormset.forms %}
                        <div class="ingredient-formset formsetSubelement formset">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                    {{ ingredientFormset.management_form }}
                </div>
            </div>

            <div class="panel panel-default formsetContainer">
                <div class="panel-heading"> Categories:</div>
                <div class="panel-body">
                    {% for form in categoryFormset.forms %}
                        <div class="category-formset formsetSubelement formset">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                    {{ categoryFormset.management_form }}
                </div>
            </div>

            <button type="submit" class="save btn btn-default">Save</button>

        </form>

    {% endif %}
{% endblock %}