{% extends 'html/base.html' %}
{% load staticfiles %}

{% block title %}Recipes{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

    <div class="row text-center">
        <h1>{{ recipe.name }}</h1>
    </div>

    <div class="container">
        <h2>Description:</h2>
        <p>{{ recipe.description }}</p>
    </div>
    </div>

    <div class="container">
        <h2>Ingredients:</h2>
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                <td>{{ ingredient.ing_ID.name }} </td>
                <td>{{ ingredient.amount }}</td>
                    <td><b> {{ ingredient.unit }} </b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Amount of persons:</h2>
        <p class="mkt-s2-body">
            {{ recipe.person_amount }}
        </p>
    </div>

    <div class="container">
        <h2 >Cook time:</h2>
        <p>
            {{ recipe.cook_time }}
        </p>
    </div>

    <div class="mkt-s2 container">
        <h2 class="mkt-s2-h">Categories:</h2>
        <div class="mkt-s2-body">
            <ul>
                {% for category in categories %}
                    <li><b>{{ category.category_ID.name }}</b></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="mkt-s2 container">
        <h2 class="mkt-s2-h">Tags:</h2>
        <div class="mkt-s2-body">
            <ul>
                {% for tag in tags %}
                    <li><b>{{ tag.tag_ID.name }}</b></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if userIsCreator %}
        <div class="container">
            <div class="row">
                <div class="col-lg-1"><a href="{% url 'recipe_edit' recipe.id %}" class="btn btn-info"><span
                        class="glyphicon glyphicon-edit"></span> Edit</a></div>
                <div class="col-lg-1"><a href="{% url 'recipe_hide' recipe.id %}" class="btn btn-info"
                                         onclick="return confirm('Are you sure you want to remove this recipe?')"><span
                        class="glyphicon glyphicon-trash"></span> Remove</a></div>
                <div class="col-lg-10"></div>
            </div>
        </div>
    {% endif %}

{% endblock %}

