li{
    color: green;
}

.formsetSubelement {
    position: relative;
    display: flex;
    border-collapse: separate;
}
.formsetSubelement p {
    padding-right: 1em;

}

.formsetContainer{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

textarea#id_description {
    vertical-align: top;
}

.formsetContainer .panel-body table tbody tr th{
    text-align: left;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}





.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  /*position: relative;*/
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}