{% extends 'html/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}  

    {# Hero Section #}
<div class="mkt-s1">
    <div class="mkt-s1-body container ">
        <div class="row">
            <h1 class="col-md-8">STOMACH</h1>
        </div>
        <div class="row">
            <p class="col-md-8">lel lel lel lel lel</p>
        </div>
    </div>
</div>
    {# Main Section #}
<div class="mkt-s2 container">
    <h2 class="mkt-s2-h">STOMACH IS AWESOME</h2>
    <div class="mkt-s2-body">
        <div class="col-md-4 mkt-vp">
            <h2>Save Time</h2>
            <p>Crazy good!</p>
        </div>
        <div class="col-md-4 mkt-vp">
            <h2>Stay Current</h2>
            <p>LELELELELELLELELELE</p>
        </div>
    </div>
</div>


{% endblock content %}